@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
html{
	font-family: 'Kumbh Sans', sans-serif;
	color: #343549;
}

* {
	box-sizing: border-box;
  color: white;
}

body{
	background-image: url('./img/hinh-nen-vu-tru-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.box {
    position: absolute;
	width: 300px;
	height: 440px;
	background-color: #343549;
	border-radius: 15px;
	box-shadow: 0 0 85px #343549bf;
	text-align: center;
}
.box-avata{
	margin-top: 10%;
}
.box-avata img{
	height: 105px;
	width: 105px;
	border-radius: 55px;
	border: 5px solid #c4c6f0;
}
.box-content{
	line-height: 1.6rem;
}
.box-content--ten{
	font-size: 1.2rem;
	color: white;
	font-weight: 600;
}
.box-content--tuoi{
	color: #adaeb0!important;
	font-weight: 400;
}
.box-content--desc{
	color: #adaeb0!important;
	
}
.box-content--thanhpho{
	color: #adaeb0!important;
	
}
.box-content_social{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 15px;
	padding-top: 15px;
}
.box-content_social-item a img{
	height: 25px;
	width: 25px;
	margin-left: 8px;
	margin-right: 8px;
	
}
.box-content_social-item a img:hover{
	transform: scale(1.4, 1.4);
	transition: all ease .4s;
	-moz-transition: all aese .4s;
	-webkit-transition: all aese .4s;
}
.btn-contact{
	border: 2px solid red;
	text-decoration: none;
	padding: 5px 25px 5px 25px;
	border-radius: 5px;
	color: red;
}
.btn-contact:hover{
	background-color: red;
	color: #00ffff;
	transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-webkit-transition: all ease-in-out .3s;
}
.box-status{
	position: absolute;
	display: flex;
	justify-content: space-around;
	background-color: #00ffff;
	bottom: 0;
	width: 100%;
	border-radius: 0 0 15px 15px;
}
.box-status_item{
	padding: 5px 10px 5px 10px;
	line-height: 0.5rem;
	flex: 1;
}
#contact{
	 
	height:100vh;
	clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
#form{
  text-align: center;
}
@-webkit-keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @-webkit-keyframes snowflakes-shake {
    0%,100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50% {-webkit-transform:translateX(80px);transform:translateX(80px)}
  }
  @keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @keyframes snowflakes-shake {
    0%,100%{ transform:translateX(0)}
    50% {transform:translateX(80px)}
  }
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running;
  }
  .snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
  }
  .snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
  }
  .snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
  }
  .snowflake:nth-of-type(3){
    left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
  }
  .snowflake:nth-of-type(4){
    left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
  }
  .snowflake:nth-of-type(5){
    left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
  }
  .snowflake:nth-of-type(6){
    left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
  }
  .snowflake:nth-of-type(7){
    left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
  }
  .snowflake:nth-of-type(8){
    left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
  }
  .snowflake:nth-of-type(9){
    left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
  }
  .snowflake:nth-of-type(10){
    left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s
  }
  .snowflake:nth-of-type(11){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }

input{
  outline: none;
  padding: 10px;
  width: 248px;
  border-radius: 10px;
}
button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: black;
    padding-bottom: 5px;
}
.item{
  padding: 10px 0;
}
.item:first-child{
  padding-top: 50px;
}
label{
  padding-bottom: 5px;
}
button:hover{
 background-color: red;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

form{
  margin-top: 100px;
  width: 300px;
  background-color: #3b2c72;
  border-radius: 5px;
  margin:0 auto;
}